@model IEnumerable<MyMobileTrackerList.Models.MyMobileTracker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("AjaxPush", "MyMobileTrackers", FormMethod.Post,null, new { id = "Test" }))
{ 
    <input type="submit" class ="PushB" value="Start" id="btnStart" name="ButtonType"/>
    <div class="btn btn-default" id="btnStartDiv"> Start </div>

 <!--  <input type="submit" class ="PushB" value="Start" id="btnStart" name="ButtonType"/>
   <input type="submit" value="Save"  id="btnSave" name="ButtonType"/>
 <input type="submit" value="Next"  id="btnNext" name="ButtonType" /> -->
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HitCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HitCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


        <script src="~/Scripts/jquery-3.4.1.min.js"></script>

     <script>
    
    $( "#btnStartDiv" ).click(function() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AjaxPush", "MyMobileTrackers")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(100),
            success: changeButton(),
            error: function() { alert('A error'); }
        });
    });

    function changeButton(){
        $("#btnStart").css("background-color","green");
        $("#btnStart").attr("value","Pushed");
    } 

    </script>
    
   

